html, body, .full {
  height: 100%;
}
.vertical {
  height: 100%;
  float: left;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
.left {
  background: red;
}
.middle {
  background: green;
}
.right {
  background: blue;
}
